services:
  darktide-mission-board:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: "darktide-mission-board"
    volumes:
      - ./database:/app/database
      - ./refresh_token.txt:/app/refresh_token.txt
    ports:
      - ":80"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"

networks:
  default:
    external: true
    name: caddy-network
