<!DOCTYPE html>
<html lang="en" data-theme="retro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darktide Mission</title>
    <link rel="icon"
        href="https://cdn.prod.website-files.com/65786ec854ee7451f4f7291a/65786ec854ee7451f4f729ba_favicon-32x32.png">
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0/themes.css" rel="stylesheet" type="text/css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://raheelize.github.io/CrispyToastJS/crispy-toast.css">
    <script src="https://raheelize.github.io/CrispyToastJS/crispy-toast.js"></script>
    <script defer src="https://medama-analytic.otwako.com/script.js"></script>
    <meta name="htmx-config" content='{"selfRequestsOnly": false}'>
</head>

<style>
    .main-page {
        height: 100%;
        width: 100%;
        overflow-y: hidden;
    }

    .filter-list {
        overflow-y: scroll;
    }

    .filter-search-btn {
        background-color: rgba(222, 184, 135, 0.5);
    }

    .filter-search-btn:hover {
        background-color: rgba(222, 184, 135, 1);
    }

    .mission-page-container {
        background-color: rgb(216, 207, 182)
    }

    .mission-grid {
        display: grid;
        max-height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-rows: min-content;
        overflow-y: scroll;
    }

    .credits-icon {
        filter: brightness(0) saturate(100%) invert(75%) sepia(16%) saturate(6966%) hue-rotate(332deg) brightness(101%) contrast(97%);
    }

    .xp-icon {
        filter: brightness(0) saturate(100%) invert(25%) sepia(75%) saturate(2339%) hue-rotate(344deg) brightness(88%) contrast(98%);
    }

    .image-tooltip-container {
        position: fixed;
        visibility: hidden;
        background-color: transparent;
        opacity: 0;
        transition: opacity 0.2s ease, visibility 0.2s ease;
        z-index: 1000;
    }

    .image-tooltip {
        width: 600px;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    }

    .auric {
        box-shadow: inset 0 0 0 4px #eab308;
        border-radius: 6.4px;
    }

    .checkbox {

        &:checked {
            border-color: #45c51f !important;
            --chkbg: #45c51f !important;
        }

        &:indeterminate {
            border-color: red !important;
            --chkbg: red !important;
        }
    }
</style>

<body class="h-screen w-screen">
    <div class="main-page flex p-2">
        <div class="filter-container flex flex-col basis-1/6 p-2">
            <div class="filter-header flex flex-row items-center gap-2 p-2">
                <p class="filter-title font-mono font-extrabold flex-grow text-center">{{
                    ui_translations.search_header[language] }}</p>
                <input type="submit" form="filter-form" value="{{ ui_translations.search_button[language] }}"
                    class="btn btn-primary filter-search-btn flex-basis-1/2">
            </div>
            <div class="filter-list">
                <form id="filter-form" hx-post="{{ server_entry_point }}/get_missions" hx-target="#mission-grid"
                    hx-swap="innerHTML"
                    hx-vals='{"language": "{{ language }}", "entry_point": "{{ server_entry_point }}"}' hx-boost="true">

                    <div class="divider m-0 p-0"></div>

                    <!-- Difficulty filter -->
                    <p class="font-bold text-center"> {{ ui_translations.difficulty_header[language] }} </p>
                    {% for difficulty_code, translation in mission_difficulties.items() %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ translation[language] }}</span>
                        <input type="checkbox" class="checkbox tri-state-checkbox" name="{{ difficulty_code }}" />
                    </label>
                    {% endfor %}

                    <div class="divider m-0 p-0"></div>

                    <!-- Side Mission filter -->
                    <p class="font-bold text-center"> {{ ui_translations.side_mission_header[language] }} </p>
                    {% for side_mission_code, translation in side_missions.items() %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ translation[language] }}</span>
                        <input type="checkbox" class="checkbox tri-state-checkbox" name="{{ side_mission_code }}" />
                    </label>
                    {% endfor %}

                    <div class="divider m-0 p-0"></div>

                    <!-- Special event filter (if exists) -->
                    {% if special_event_keywords %}
                    <p class="font-bold text-center"> {{ ui_translations.event_filter_header[language] }} </p>
                    {% for keyword, translation in special_event_keywords.items() %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ translation[language] }}</span>
                        <input type="checkbox" class="checkbox tri-state-checkbox" name="{{ keyword }}" />
                    </label>
                    {% endfor %}
                    <div class="divider m-0 p-0"></div>
                    {% endif %}

                    <!-- Auric filter -->
                    <p class="font-bold text-center"> {{ ui_translations.is_auric_header[language] }} </p>
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ ui_translations.auric_translation[language] }}</span>
                        <input type="checkbox" class="checkbox tri-state-checkbox" name="auric" />
                    </label>

                    <div class="divider m-0 p-0"></div>

                    <!-- Maelstrom filter -->
                    <p class="font-bold text-center"> {{ ui_translations.is_maelstrom_header[language] }} </p>
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ ui_translations.maelstrom_translation[language] }}</span>
                        <input type="checkbox" class="checkbox tri-state-checkbox" name="flash_mission" />
                    </label>
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ ui_translations.auric_maelstrom_translation[language] }}</span>
                        <input type="checkbox" class="checkbox tri-state-checkbox" name="auric_maelstrom" />
                    </label>

                    <div class="divider m-0 p-0"></div>

                    <!-- Modifiers filter -->
                    <p class="font-bold text-center"> {{ ui_translations.filter_header[language] }} </p>
                    {% for keyword, translation in standard_keywords.items() %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ translation[language] }}</span>
                        <input type="checkbox" class="checkbox tri-state-checkbox" name="{{ keyword }}" />
                    </label>
                    {% endfor %}

                    <div class="divider m-0 p-0"></div>

                    <p class="font-bold text-center"> {{ ui_translations.mission_type_header[language] }} </p>
                    {% for mission_type, translation in mission_type_keywords.items() %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ translation[language] }}</span>
                        <input type="checkbox" class="checkbox tri-state-checkbox" name="{{ mission_type }}" />
                    </label>
                    {% endfor %}

                    <div class="divider m-0 p-0"></div>

                    <p class="font-bold text-center"> {{ ui_translations.maps_header[language] }} </p>
                    {% for map_code, translation in maps.items() %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ translation[language] }}</span>
                        <input type="checkbox" class="checkbox tri-state-checkbox" name="{{ map_code }}" />
                    </label>
                    {% endfor %}
                </form>
            </div>
        </div>

        <div class="mission-page-container basis-5/6 p-2">
            <div class="mission-grid h-full" id="mission-grid">

            </div>
        </div>

        <div class="image-tooltip-container">
            <img class="image-tooltip" src="" />
        </div>
    </div>
</body>

<script>
    document.body.addEventListener('htmx:afterSwap', function (evt) {
        // 2. Do your own logic here
        if (evt.detail.target.id === "mission-grid") {
            loadImageTooltip();
        }
    });

    document.body.addEventListener("htmx:afterRequest", function (event) {
        var statusCode = event.detail.xhr.status
        var errorMsg = event.detail.xhr.statusText;
        if (event.detail.successful !== true) {
            CrispyToast.error(`${statusCode}: ${errorMsg}`, { position: 'bottom-right' });
        }
    })

    function loadImageTooltip() {
        const tooltip = document.querySelector('.image-tooltip');
        const cardDivs = document.querySelectorAll('.card');
        const tooltipHoverEle = document.querySelectorAll('.tooltip-hover');
        const tooltipContainer = document.querySelector('.image-tooltip-container');

        cardDivs.forEach(div => {
            div.addEventListener('mouseenter', () => {
                const imageSrc = div.getAttribute('data-image'); // Get the image source
                if (imageSrc) {
                    tooltip.src = `{{ server_entry_point }}/assets/maps/${imageSrc}`; // Update the tooltip image source
                }
                // console.log(tooltip.src);
            });
        });

        tooltipHoverEle.forEach(ele => {
            ele.addEventListener('mouseenter', () => {
                tooltipContainer.style.visibility = 'visible'; // Show the tooltip
                tooltipContainer.style.opacity = '1'; // Make it fully visible
                updateTooltipPosition(event); // Initial positioning
            });

            ele.addEventListener('mouseleave', () => {
                tooltipContainer.style.visibility = 'hidden'; // Hide the tooltip
                tooltipContainer.style.opacity = '0'; // Make it transparent
            });

        });
    }

    function updateTooltipPosition(event) {
        const tooltipContainer = document.querySelector('.image-tooltip-container');
        const offset = 8; // Offset tooltip position from cursor

        tooltipContainer.style.left = `${event.pageX + offset}px`;
        tooltipContainer.style.top = `${event.pageY + offset}px`;
    }

    document.addEventListener("htmx:afterProcessNode", function (evt) {
        if (evt.detail.elt.classList.contains("main-page")) {
            console.log("Tri-state checkbox initialization")
            document.querySelectorAll(".tri-state-checkbox").forEach(checkbox => {
                // Initialize the state
                checkbox.dataset.state = "unchecked";

                checkbox.addEventListener("change", function (event) {
                    event.preventDefault(); // Prevent default only after the change

                    // Use requestAnimationFrame to ensure DOM updates happen
                    requestAnimationFrame(() => {
                        if (this.dataset.state === "unchecked") {
                            this.checked = true;
                            this.indeterminate = false;
                            this.dataset.state = "checked";
                        } else if (this.dataset.state === "checked") {
                            this.indeterminate = true;
                            this.dataset.state = "off";
                            this.value = "off";
                        } else {
                            this.checked = false;
                            this.indeterminate = false;
                            this.dataset.state = "unchecked";
                            this.removeAttribute('value');
                        }
                    });
                });

                // Prevent the default click behavior
                checkbox.addEventListener("click", function (event) {
                    event.preventDefault();
                    // Manually trigger change event
                    const changeEvent = new Event('change', { bubbles: true });
                    this.dispatchEvent(changeEvent);
                });
            });
        }
    });
</script>

</html>