{% for mission in missions %}
<div class="card bg-base-100 shadow-xl m-2" data-image="{{ maps[mission.map_code]['image'] }}">
    <div class="card-body {% if mission.mission_category == 'auric' %}auric{% endif %}">
        <div class="card-header flex justify-between">
            <h2 class="card-title justify-center items-center">
                {{ maps[mission.map_code][language] }} <i class="fa-regular fa-image text-stone-400 tooltip-hover"></i>
            </h2>
            <div class="copy-btn-group">
                <button class="btn btn-md btn-neutral"
                    onclick="navigator.clipboard.writeText('/mmt {{ mission.mission_id }}');CrispyToast.success('{{ ui_translations.copy_success[language] }}', { position: 'bottom-right'})">
                    {{ ui_translations.copy_btn[language] }}
                </button>
                <button class="btn btn-md btn-neutral"
                    onclick="navigator.clipboard.writeText('/mmtimport {{ mission.mission_id }}');CrispyToast.success('{{ ui_translations.copy_success[language] }}', { position: 'bottom-right'})">
                    {{ ui_translations.import_btn[language] }}
                </button>
            </div>
        </div>
        <div class="card-actions justify-between items-center">
            <div>
                <div class="badge badge-secondary">{{ mission_types[mission.map_code][language] }}</div>
                <div class="badge badge-accent">{{ mission_difficulties[mission.challenge_level][language] }}</div>
                <div class="badge badge-ghost">{{ side_missions[mission.side_mission][language] }}</div>
                <div class="badge badge-ghost">{{ mission.humanized_time_delta }}</div>
            </div>
            <div class="badge badge-ghost gap-2">
                <div class="credits flex gap-1 flex-row items-center">
                    <img class="size-4 credits-icon" src="{{ server_entry_point }}/assets/icons/credits.png">
                    <span>{{ mission.credits }}</span>
                </div>
                <div class="xp flex flex-row items-center">
                    <img class="size-4 xp-icon" src="{{ server_entry_point }}/assets/icons/xp.png">
                    <span>{{ mission.experience }}</span>
                </div>
            </div>
        </div>
        <div class="divider m-0 p-0"></div>
        <div class="card-actions">
            {% for modifier in mission.modifiers %}
            <div class="badge badge-accent badge-outline">{{ modifier }}</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}